# Packfire Framework for PHP
#
# this file provides configuration for Travis Continuous Integration
# See Packfire on TravisCI at http://travis-ci.org/packfire/packfire-framework

language: php
php:
  - 5.3
  - 5.3.3
  - 5.4
before_script:
  - composer install
script: phpunit -c phpunit.xml.dist
after_script:
  - wget --quiet https://github.com/downloads/packfire/pdc/pdc.phar
  - php pdc.phar src